.login_form{
     margin-left: 5vw;
    margin-top: 50px;
    margin-right: 10vw;
    margin-bottom: 50px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
      

}

.log_heading{
    text-align: center;
    margin-top:3vw;
    font-size: 2rem;
    color: lightslategray;
    font-style: italic;
    
    }