.tinder_header {
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
    align-content: center;
    display: flex;
    }


.header__logo {
    object-fit: contain;
    height: 40px;
}

.header__icon {
    padding: 20px;
}
.header_buttons{

  display: flex;
 
  margin-right: 20vw;
  margin-left: 62vw;
 
}

  

.header_list{
    display: flex;
    margin-top: 17px;

}